/vendor/
/composer.lock

# PHPUnit
/.phpunit.cache
/phpunit.xml

# PHPStan / Larastan
/.phpstan.cache

# IDE
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build / coverage
/build/
/coverage/
/.php-cs-fixer.cache
.soulforge
